---
layout: compress
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body>
    <!-- Header -->
    <header class="header flex" role="banner">
      <div class="container animated fadeIn">
        <div class="row">
          <a href="{{ site.url }}">
            <img src="{{ site.brace }}" style="max-width: 70%" />
            <img
              src="{{ site.logo }}"
              class="img-circle zoombtn animated rotateIn"
            />
          </a>
          <h3 class="title">
            <h1 style="font-weight: 300">{{ site.title }}</h1>
          </h3>
          <h3 class="title">
            <p style="font-weight: 300">{{ site.description }}</p>
          </h3>
          {% include social-links.html %}
          <hr class="hr-line" />
          <h3 class="title">
            <a class="btn zoombtn" href="{{ site.url }}/about"> About </a>
          </h3>
          <p>(because she has braces, get it?)</p>
          <p style="text-align: left">
            Ana Ortez-Rivera is a first-year MPP candidate at the Harvard
            Kennedy School. She has stepped up to the plate to run for this
            year’s VP of Internal Affairs.
          </p>
          <p style="text-align: left">
            Ana is ready to dedicate her career to public service but first is
            motivated to serve the community at HKS and make a difference. How?
            By listening to her peers, advocating for change, and being a loud
            voice that the administration can’t ignore.
          </p>

          <p style="text-align: left">
            What exactly will be she doing as the VP of Internal Affairs? The
            role entails:
          </p>

          <p style="text-align: left">
            Serving as the primary liaison for official HKS student
            organizations and works with the Office of Student Services to
            support these organizations.
          </p>

          <p style="text-align: left">
            Ana will go beyond the role and meet the needs of students and HKS
            organizations. She will also work internally with other roles and
            committees to meet her platform. She will fight for:
          </p>

          <i class="fa-solid fa-scale-unbalanced-flip"></i>
          <p style="text-align: left"><strong>EQUITY</strong></p>

          <ul>
            <li>
              Ensuring that all HKS students from diverse backgrounds feel
              included, heard, and feel supported in their needs.
            </li>
            <li>
              Push administration to:
              <ul>
                <li>Offer free gym membership</li>
                <li>Lower costs of bus-train passes</li>
                <li>Give students all a free HKS t-shirt</li>
                <li>Free printing</li>
                <li>Create a student food-pantry</li>
              </ul>
            </li>
          </ul>

          <p style="text-align: left">
            <i class="fa-solid fa-head-side-brain"></i>
            <strong>MENTAL HEALTH</strong>
          </p>
          <ul>
            <li style="text-align: left">
              Have on-sight mental health counselor for student appointments
            </li>
            <li style="text-align: left">
              Have regular “stress-relief” activities on campus such as yoga,
              Zumba, and therapy dogs
            </li>

            <li style="text-align: left">
              Workshops and information sessions on nutrition, and mental-health
              + well being
            </li>
          </ul>

          <p style="text-align: left">
            <i class="fa-solid fa-universal-access"></i>
            <strong>ACCESSIBILITY</strong>
          </p>

          <ul>
            <li>
              Ensuring that all classes have the technology to meet students
              needs such as having microphones placed in each table in big
              classrooms
            </li>
            <li>
              Ensuring that all class materials are accessible online for
              students ahead of class time
            </li>
            <li>
              Bring up any other issues and concerns related to accommodations
            </li>
          </ul>
        </div>
      </div>
    </header>
    {% include scripts.html %}
  </body>
</html>
